# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# Test
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
